<header>
 <h2>Books</h2>
</header>

<body>
 <table>
  <!--<thead>-->
   <tr>
    <th>Title</th>
    <th>Body</th>
   </tr>
  <!--</thead>  -->

 <!--<tbody>-->
   <tr>
    <td>入門Git</td>
    <td>gitについての基本操作から内部構造まで解説してくれます</td>
   </tr>
   
   <tr>
    <td>アルゴリズム図鑑</td>
    <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
   </tr>

 <!--</tbod>-->
</table>
</body>