<%= stylesheet_link_tag "books", :media =>"all" %>

<head>
 <h1>
   ようこそ Bookersへ！
 </h1>
</head>

<main>
<p>
  Bookers では、さまざまな書籍に関するあなたの意見や<br>
</p>

<p>
  印象を共有し交換することができます
</p>
</main>

<p>
  <a>
   <%= link_to 'start', books_index_path %>
  </a>
</p>